extends layouts/main-layout

block styles
    link(rel='stylesheet', href='/css/forms.css')
    link(rel='stylesheet', href='/css/product.css')

block content
    main
        form.product-form(action='/admin/add-product', method='POST')
            .form-control
                label(for='title') Title
                input(type='text', name='title', id='title')
                label(for='image_link') Image link
                input(type='text', name='image_link', id='image_link')
                label(for='price') Price
                input(type='text', name='price', id='price')
                label(for='description') Description
                input(type='text', name='description', id='description')
            button.btn(type='submit') Add Product