.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  padding: 15px;
}

.product-form__form-control label,
.product-form__form-control input {
  display: block;
  width: 100%;
}

.product-form__form-control input {
  margin: 5px 0;
  border: 1px solid #cfbd63;
  font: inherit;
  border-radius: 2px;
}

.product-form__submit-button {
  font: inherit;
  border: 1px solid #a44e4e;
  color: #a44e4e;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}

.product-form__submit-button:hover,
.product-form__submit-button:active {
  background-color: #a44e4e;
  color: white;
}
